<div class="list-group">
  <% @feeds.each do |feed| %>
    <%= link_to feed_path(feed.id), :class => 'list-group-item list-group-item-action flex-column align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= feed.title %></h5>
        <small><%= time_ago_in_words(feed.modified_at) %></small>
      </div>

      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1"><%= feed.description %></p>
        <%= button_to "Delete", edit_feed_path(feed.id), :method => :delete, :class => 'btn btn-danger' %>
      </div>
    <% end %>
  <% end %>
</div>