<p class="lead">
  <div class="list-group">
    <% @feeds.each do |feed| %>
      <% unless feed.modified_at.nil? %>
        <%= link_to feed_path(feed.id), :class => 'list-group-item list-group-item-action flex-column align-items-start' do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= feed.title %></h5>
            <small><%= time_ago_in_words(feed.modified_at) %></small>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <div>
              <p class="mb-1"><%= truncate(feed.description, :length => 255) %></p>
              <small class="text-muted"><%= feed.language %></small>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to feed_path(feed.id), :class => 'list-group-item list-group-item-action flex-column align-items-start alert-danger' do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= feed.link %></h5>
            <small><%= time_ago_in_words(feed.created_at) %></small>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <div>
              <p class="mb-1">This url is not correct, please remove it</p>
              <small class="text-muted">Error RSS Feed</small>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="d-flex w-100 justify-content-between">
      <p class="lead"/>
      <%= paginate @feeds %>
    </div>
  </div>
</p>