<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @feed.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Language:</strong>
  <%= @feed.language %>
</p>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.link %></td>
      <td><%= sanitize(item.description) %></td>
      <td><%= link_to 'Show', item %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>