<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Login</legend>
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', :placeholder =>'Enter email'%>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control', :placeholder =>'Password' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", :class => 'btn btn-primary'%>
      <%= render "devise/shared/links" %>
    </div>
  </fieldset>
<% end %>