<% @feeds.in_groups_of(3) do |row| %>
  <div class="row mb-4">
    <% row.each_with_index do |feed, index| %>
      <% if index == 0 && feed  %>
        <div class="card border-dart ml-3" style="width: 22rem; height: 16rem;">
          <div class="card-header">
            <div class="d-flex w-100 justify-content-between">
              <%= link_to feed_path(feed) do %>
                <%= feed.title %>
              <% end %>
              <%= button_to "Delete", feed_path(feed.id), data: { confirm: 'Sure?' }, :method => :delete, :class => 'btn btn-outline-danger btn-sm card-btn' %>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= feed.description %></p>
          </div>
        </div>
      <% end %>
      <% if index == 1 && feed  %>
        <div class="card border-dart ml-3" style="width: 22rem; height: 16rem;">
          <div class="card-header">
            <div class="d-flex w-100 justify-content-between">
              <%= link_to feed_path(feed) do %>
                <%= feed.title %>
              <% end %>
              <%= button_to "Delete", feed_path(feed.id), data: { confirm: 'Sure?' }, :method => :delete, :class => 'btn btn-outline-danger btn-sm card-btn' %>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= feed.description %></p>
          </div>
        </div>
      <% end %>
      <% if index == 2 && feed  %>
        <div class="card border-dart ml-3" style="width: 22rem; height: 16rem;">
          <div class="card-header">
            <div class="d-flex w-100 justify-content-between">
              <%= link_to feed_path(feed) do %>
                <%= feed.title %>
              <% end %>
              <%= button_to "Delete", feed_path(feed.id), data: { confirm: 'Sure?' }, :method => :delete, :class => 'btn btn-outline-danger btn-sm card-btn' %>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= feed.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= paginate @feeds %>