
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <fieldset>
      <legend>Forgot your password?</legend>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", :class => 'btn btn-primary' %>
        </div>
    </fieldset>
<% end %>
