<%= form_with(model: recommended_feed, local: true) do |form| %>
  <% if recommended_feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommended_feed.errors.count, "error") %> prohibited this recommended_feed from being saved:</h2>

      <ul>
      <% recommended_feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
