<p id="notice"><%= notice %></p>

<h1>Recommended Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommended_feeds.each do |recommended_feed| %>
      <tr>
        <td><%= recommended_feed.title %></td>
        <td><%= recommended_feed.description %></td>
        <td><%= recommended_feed.link %></td>
        <td><%= link_to 'Show', recommended_feed %></td>
        <td><%= link_to 'Edit', edit_recommended_feed_path(recommended_feed) %></td>
        <td><%= link_to 'Destroy', recommended_feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recommended Feed', new_recommended_feed_path %>
