<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recommended_feed.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recommended_feed.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @recommended_feed.link %>
</p>

<%= link_to 'Edit', edit_recommended_feed_path(@recommended_feed) %> |
<%= link_to 'Back', recommended_feeds_path %>
