<nav class="navbar navbar-expand navbar-light bg-light flex-column fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">RSSReader</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommended_feeds">Recommended Feeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Dounx/RSSReader">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_user.nil? %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, :class => 'nav-link' %>
          </li>
        <% else %>
          <%= form_tag("/search", method: "get", :class => 'form-inline my-2 my-lg-0') do %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search", :class => 'btn nav-link') %>
          <% end %>
          <li class="nav-item">
            <% if controller_name == 'users' && action_name == 'show' %>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-feed" >Add</button>
                <%= render 'feeds/new_feed_modal' %>
            <% else %>
              <%= link_to "Feeds", feeds_path, :class => 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if controller_name == 'items' && action_name == 'show' %>
              <% if @next_item %>
                <%= button_to "Next", item_path(@next_item.id), method: :get, :class => 'btn btn-primary' %>
              <% else %>
                <%= link_to "Items", items_path, :class => 'nav-link' %>
              <% end %>
            <% else %>
              <%= link_to "Items", items_path, :class => 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
            <div class="dropdown-menu">
              <%= link_to 'Your Profile', user_path(current_user), :class => 'dropdown-item' %>
              <a class="dropdown-item" href="/feeds">Your Feeds</a>
              <a class="dropdown-item" href="/items">Your Items</a>
              <% if current_user.admin %>
                <a class="dropdown-item" href="/admin">Dashboard</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Help</a>
              <%= link_to 'Settings', edit_user_path(current_user), :class => 'dropdown-item' %>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br/>