<!DOCTYPE html>
<html>
  <head>
    <title>RSSReader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/horizontal_navbar' %>
    <div class="container mt-5">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </div>
  </body>
</html>